<br><br><br>
<p class="text">Login As</p>
<div class="teachLog">
        <a href="/teacher/viewall" class="btn btn-info">Teacher</a>
        <a href="/student/login" class="btn btn-info">Student</a>
</div>