<a href="/" class="btn btn-info" style="margin-top:5px;">Back</a>
<h3>Find Result</h3>
<br><br>
<div class="teachLog">
  <form method="POST" class="teachForm">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Roll no : </label>
        <input type="number" name="roll" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Date Of Birth : </label>
        <input type="date" name="dob" class="form-control" id="exampleInputPassword1" required>
      </div>
      <a><button type="submit" class="btn btn-primary">Search</button></a>
      <a><button type="reset" class="btn btn-primary">Clear</button></a>
  </form>
</div>