<a href="/student/login" class="btn btn-info" style="margin-top:5px;">Back</a>
<a href="/" class="btn btn-info " style="margin-top:5px;float: right;">Logout</a><br>
<h4>Result</h4><br><br><br>
<div class="stuTable">
  <table class="table table-striped">
      
      
        <tr >
          <td><h5>Roll no:</h2></td>
          <td><h6> <%= one.roll %> </h6></td>
        </tr>

        <tr>
          <td><h5>Name:</h5></td>
          <td><h6> <%= one.name %> </h6></td>
        </tr>

        <tr>
          
        <td><h5>Date of birth:</h5></td>
        <td><h6> <%= one.dob %> </h6></td>
      </tr>      
      
      <tr>
          <td><h5>Score:</h5></td>
          <td> <h6> <%= one.score %> </h6></td>
      </tr>
    </table>    
    
</div>
    